<!DOCTYPE html>
<html>
  <head>
    <title>To Do</title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{ todolist.name }}</h1>
        <p>
          <a href="{% url 'todo_list_update' todolist.pk %}">Edit</a>
        </p>
        <p>
          <a href="{% url 'todo_list_delete' todolist.pk %}">Delete</a>
        </p>
        <h2>Tasks</h2>
      </div>
      <div>
        <table>
          <thead>
            <tr>
              <th>Task</th>
              <th>Due Date</th>
            </tr>
            <tbody>
              {% for item in todolist.items.all %}
              <tr>
                  <td>
                    <a href="{% url 'todo_item_update' item.pk %}">{{ item.task }}</a>
                  </td>
                  <td>{{ item.due_date}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </thead>
        </table>
      </div>
    </main>
  </body>
</html>