<!DOCTYPE html>
<html>
  <head>
    <title>To Do</title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <p>
          <a href="{% url "todo_list_create" %}">Create a New List</a>
        </p>
        <p>
          <a href="{% url 'todo_item_create' %}">Create a New Item</a>
        </p>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of Items</th>
            </tr>
            <tbody>
              {% for list in todolist_list %}
              <tr>
                  <td><a href="{% url "todo_list_detail" list.pk %}">{{ list.name }}</td>
                    <td>{{ list.items.count }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </thead>
        </table>
      </div>
    </main>
  </body>
</html>
