<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
  </head>
  <body>
    <main>
      <div>
        <h1>Create a New List</h1>
        <form method="POST">
          {% csrf_token %}
          <!---->
          {{ form.as_p }}
          <div>
            <button>Create</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
